h1{text-align: center; font-family: sans-serif; font-size: 40px; color:#61677A; font-weight: bolder;}
.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*{font-family: sans-serif; background-color: #FFF6E0; margin: .5%; text-align: justify;}
h2{color: #61677A; font-weight: bolder; font-size: 1.8em;}
h3{color: #61677A; font-weight: bolder;}
h4{color: #61677A; font-weight: bold;}

.txt{color: #272829;}
#paragraph{font-weight: 400; font-size: medium; font-family: sans-serif;}
p{color: #272829;}
ul{color: #61677A;}
h3{color: #61677A;}
a{color: orangered; text-decoration: none; }
.centre{text-align: center; text-decoration: none; list-style-type: none;}
.orange{color: orangered;}
ul{font-weight: bold;}
.educationlist{color: #61677A; font-size: 1rem;}
footer{text-align: right;}